<template>
  <div id="app">
    <the-header></the-header>
    <left-sidebar></left-sidebar>
    <main-content />
    <right-sidebar/>
    <the-footer/>
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader";
import LeftSidebar from "@/components/LeftSideBar";
import MainContent from "@/components/MainContent";
import RightSidebar from "@/components/RightSidebar";
import TheFooter from "@/components/Footer";

export default {
  name: "app",
  components: {
    TheHeader,
    LeftSidebar,
    MainContent,
          RightSidebar,
      TheFooter
  }
};
</script>

<style>
body {
  margin: 0px;
  padding: 0px;
}
#app {
  display: grid;
  grid-template-columns: 150px auto auto auto auto 150px;
  grid-template-rows: 60px 1fr 1fr 60px;
  grid-gap: 1em;
  height: 1rem;
}

button {
  font-family: 'Candara', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 2px;
  padding: 3px 10px;
  color:midnightblue;
}

/*
right-sidebar {
  
  background-size: 100%;
  padding: 1em;
  color: white;
}
*/

header,
footer {
  grid-column: 1 / 7;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

</style>