<template>
<div>
    <h1>Add Card to Collection</h1>
    <div v-if="this.$store.get('loggedIn')">
        <form @submit.prevent="AddCard">
            <label for="collectionID" class="sr-only">Collection ID: </label>
            <input
            type="text"
            class="form-control"
            placeholder="Collection ID"
            v-model="SqlData.collectionID"
            required
            autofocus
            />
            <br/>
            <br/>
            <label for="cardID" class="sr-only">Card ID:  </label>
            <input
            type="text"
            class="form-control"
            placeholder="Card ID"
            v-model="SqlData.cardID"
            required
            />
            <br/><br/>
            <button type="submit">Add Card</button><br/>
            <br/>
            
        </form>
    </div>
    <div v-else>
        <p>You must be logged in to use this function.</p>
    </div>    
</div>
</template>

<script>
export default {
    name: 'add-card',
    data() {
        return {
            SqlData: {
                cardID: '',
                collectionID: '',
                
            }
        }
    },
    methods: {
        AddCard(){
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/collection/addcard`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(this.SqlData),
        })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error adding card";
          }
        })
        .then((data) => {
            this.$router.push('/collection/' + this.SqlData.collectionID);
            return data;
        })
        .catch((err) => console.error(err));
        },
       
        }

    }


</script>

<style scoped>

</style>