<template>
    <div>
        <p>List of All Collections:

            Currently under construction, sorry!</p>
    </div>
</template>

<script>
export default {
    name: 'all-collections',
}
</script>

<style scoped>


</style>