<template>
    <div>
        <div v-if="setCodeObject.setCode">
            <h1>{{setName}} Card List</h1>
            <h2>Click a card to add it to the current collection.</h2>
            <span class="cardList" v-for="card in cardList" v-bind:key="card.cardID">
            <img class="cardImage" v-on:click="AddCard(card.cardID)" v-bind:src="card.imageURL" />
                <span class="cardName">{{card.cardName}}</span>
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'card-list',
    data() {
        return {
            setCodeObject: {
              setCode: this.$route.params.setCode,
            },
            setName: '',
            cardList: [],
            SqlData: {
                cardID: '',
                collectionID: '',
                
            }
        }
    },
    created() {
      this.GetSetName();
      this.GetCardsInSet();
    },
    methods: {
        GetSetName(){
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/card/getsetnamefromsetcode`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(this.setCodeObject),
        })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error I guess";
          }
        })
        .then((data) => {
            this.setName = data.slice(1,-1);
          return data;
        })
        .catch((err) => console.error(err));
        },
        GetCardsInSet(){
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/card/getcardlistbysetcode`, {
                method: 'POST',
                headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
                },
            body: JSON.stringify(this.setCodeObject),
             })
            .then((response) => {
                if (response.ok) {
                return response.text();
                } else {
                throw "Server error getting cards";
                }
            })
            .then((data) => {
                let tempCardList = JSON.parse(data);
                console.log(tempCardList);
                for (let i = 0; i < tempCardList.length; i++)
                {
                   this.cardList.push(tempCardList[i]);
                }
                return data;
            })
            .catch((err) => console.error(err));
        },
        AddCard(cardID){
            this.SqlData.cardID=cardID;
            this.SqlData.collectionID=this.$store.get("activeCollection");
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/collection/addcard`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(this.SqlData),
        })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error adding card";
          }
        })
        .then((data) => {
            this.$router.push('/collection/' + this.$store.get("activeCollection"));
            return data;
        })
        .catch((err) => console.error(err));
        },
    }
}
</script>

<style scoped>
.cardList {
    display: inline-block;
    max-width: 25%;
}

.cardImage {
    inline-size: 80%;
    margin-top: 15px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5%;
}

.cardName {
    display: block;
}
</style>