<template>
    <div style="text-align: left">
        <p style="font-family: 'Courier'">Courier AaBbCcDdEe</p>
        <p style="font-family: 'Helvetica'">Helvetica AaBbCcDdEe</p>
        <p style="font-family: 'Times'">Times AaBbCcDdEe</p>
        <p style="font-family: 'Impact'">Impact AaBbCcDdEe</p>
        <p style="font-family: 'Verdana'">Verdana AaBbCcDdEe</p>
        <p style="font-family: 'Arial'">Arial AaBbCcDdEe</p>
        <p style="font-family: 'Candara'">Candara AaBbCcDdEe</p>
    </div>
</template>

<script>
export default {
    name: 'font-test'
}
</script>

<style scoped>
p {
    font-size: 40px;
}
</style>