<template>
  <footer></footer>
</template>

<script>
  export default {
    name: "the-footer"
  };
</script>

<style scoped>

footer {
  background: url(../assets/croppedHeader.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1em;
  background-color: #c8d2e2;
  height: 50px;
}

</style>