<template>
  <div class="home">
    <h1>Welcome to PokéBindr</h1>
    <img id="giphy" src="../assets/friends.gif">
  </div>
</template>

<script>
export default {
  name: 'home',
}
</script>

<style>
.statLine {
  display: flex;
  align-items: left;
}

.count {
  padding-left: 40px;
  
}

#giphy {
  border-radius: 25px;
  width: 25%;
}
</style>


