<template>
  <lefty class="sidebar-left">
    <div class="vertical-menu">
  <a href="#" class="active">Links</a>
  <a href="#"><router-link :to="{ name: 'home' }">Home</router-link></a>
  <a href="#"><router-link :to="{ name: 'set-list' }">View Cards</router-link></a>
  <!--<a href="#"><router-link :to="{ name: 'all-collections' }">All Collections</router-link></a>-->
  <a href="#"><router-link :to="{ name: 'select-collection' }">Find Collection</router-link></a>
  <!--<router-link :to="{ name: 'user', params: {username: this.$store.get('currentUser')} }">My Profile</router-link><br/><br/>-->
  <a href="#"> <router-link :to="{ name: 'stats' }">Statistics</router-link></a>
<div v-if='this.$store.get("loggedIn")'>
  <a href="#"><router-link :to="{ name: 'new-collection' }">New Collection</router-link></a>
  <!--<a href="#"><router-link :to="{ name: 'add-card' }">Add Card to Collection</router-link></a>-->
</div>
</div>
  </lefty>
</template>

<script>
export default {
  name: "left-sidebar",
  data() {
    return {
      isFixed: false,
    }
  },
  created() {
    window.addEventListener('scroll', () =>
    {
      if (window.scrollY > 70)
      {
        this.isFixed = true;
      }
      else{
        this.isFixed = false;
      }
    })
  }
};
</script>

<style scoped>
lefty {
  background: url(../assets/red.png), lightcoral;
  background-size: 100%;
  padding: 1em;
  color: white;
}

lefty a {
  /*turn unvisited links white, too*/
  
  text-decoration: none;
  font-family: "Candara", sans-serif;
  font-size: 16px;
}
.vertical-menu {
  top: 15%; /* Position the navbar at the top of the page */
  position: fixed;
  
  
}


.vertical-menu a {
  background-image: url(../assets/redwhite.png); /* Grey background color */
  color: midnightblue; /* Black text color */
  font-weight: bolder;
  display: block; /* Make the links appear below each other */
  padding: 4px 0px 4px 4px;/* Add some padding */

  text-decoration: none; /* Remove underline from links */
  
}


.vertical-menu a:hover {
  background-color: rgb(161, 161, 161); /* Dark grey background on mouse-over */
}
.vertical-menu a:last-child {
  border-radius: 0px 0px 5px 5px;
}

.vertical-menu a.active {
  background: midnightblue;/* Add a green color to the "active/current" link */
  color: white;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  font-size: 14px;
  
}

.fixed {
  position: fixed;
  top: 5px;
  width: 118px;
}
</style>