<template>
  <main1>
    <div class="home">
      <img id="pokemon" src="../assets/header.png" alt="Pokemon">
      
      <router-view />
    </div>
  </main1>
</template>

<script>

  export default {
    name: "main-content",
    data() {
      return {
        
      }
    }
  };
</script>

<style scoped>

#pokemon {
  width: 50%;
  border-radius: 25px;
   
}
main1 a:link {
  text-shadow: none;
  color: rgb(129, 215, 255);
}

main1 a:visited {
  text-shadow: none;
  color: rgb(0, 0, 151);
}

main1{
  background-image: url(../assets/redwhite.png);
  background-size: 100%;
  padding: 1em;
  color: darkslateblue;
  /*
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    */
  font-size: 18px;
  font-family: 'Candara', sans-serif;
    font-weight:bold;
  text-align: center;
  grid-column: 2 / 6;

}



</style>