<template>
    <div>
        <p>Use this page to create a new collection!</p>
        <form @submit.prevent="create">
          <!--  <p v-if='invalidCredentials'>Error: invalidCredentials came back true</p> -->
        <label for='collection-name'>Collection name:</label><br/>
        <input
        type="text"
        id="collection-name"
        class="form-control"
        v-model="newCollection.collectionName"
        required
        />
        <br/>
        <button type='submit'>Create collection!</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'new-collection',
    data() {
        return {
            newCollection: {
                collectionName: '',
                username: this.$store.get("currentUser"),
                isPublic: true,
                collectionID: -2,
            }
        }
    },
    methods: {
    create() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/api/collection/newcollection`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(this.newCollection),
      })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            this.invalidCredentials = true;
            throw "Server error of some kind";
          }
        })
        .then((data) => {
          this.$router.push('/collection/' + data);
        })
        .catch((err) => console.error(err));
    },
  }
}
</script>

<style scoped>

</style>