<template>
  <div id="register" class="text-center">
    <form class="form-register" @submit.prevent="register">
      <div class="h3 mb-3 font-weight-normal">Create Account</div>
      <br />
      <div
        class="alert alert-danger"
        role="alert"
        v-if="registrationErrors"
      >There were problems registering this user.</div>
      <label for="username" class="sr-only">
        <div>Username:</div>
      </label>
      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        v-model="user.username"
        required
        autofocus
      />
      <p></p>
      <label for="password" class="sr-only">
        <div>Password:</div>
      </label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        v-model="user.password"
        required
      />
      <p></p>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        placeholder="Confirm Password"
        v-model="user.confirmPassword"
        required
      />
      <p></p>Select an account type:
      <select required v-model="user.role">
        <option value="standard">Standard Account</option>
        <option value="premium">Premium Account</option>
      </select>
      <p></p>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      <p></p>
      <br />
      <p></p>
      <router-link :to="{ name: 'login' }">Have an account?</router-link>
    </form>
  </div>
</template>

<script>


export default {
  name: "register",
  data() {
    return {
      user: {
        username: "",
        password: "",
        confirmPassword: "",
        role: "User"
      },
      registrationErrors: false
    };
  },
  methods: {
    register() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/api/account/register`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.user)
      })
        .then(response => {
          if (response.ok) {
            this.$router.push({
              path: "/login",
              query: { registration: "success" }
            });
          } else {
            this.registrationErrors = true;
          }
        })

        .then(err => console.error(err));
    }
  }
};
</script>

<style>
input {
  font-size: 18px;
  padding-left: 5px;
  
}
</style>
