 
<template>

  <righty class="sidebar-right">
    <!--
    <img class="icon" src="../assets/icons/Type.png"><img><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/grassicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/fireicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/watericon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/electricicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/fightingicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/psychicicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/fairyicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/steelicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/darkicon.png"/></router-link><br/>
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/dragonicon.png"/></router-link><br/>   
    <router-link :to="{ name: 'select-collection' }"><img class="icon" src="../assets/icons/normalicon.png"/></router-link><br/>   
-->
  </righty>
</template>

<script>
  export default {
    name: "right-sidebar"
  };
</script>

<style scoped>

.icon {
  width: 100%;
  padding: 5px 0px 5px 0px;
}
righty {
  background: url(../assets/list.png),lightcoral;
  background-size: 100%;
  padding: 1em;
  color: midnightblue;
  font-size: 18px;
  font-weight: bolder;
  
  right: 0;
  overflow: hidden;
}

</style>