<template>
    <div>
        <p>If you know your collection's ID number, enter it here:</p>
        <form @submit.prevent="go">
        <input
        type="text"
        id="username"
        class="form-control"
        v-model="collectionID"
        required
        autofocus
        />
        <button type="submit">Go To Collection</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'select-collection',
    data() {
        return {
            collectionID: '',
        }
    },
    methods: {
        go() {
            this.$router.push('/collection/' + this.collectionID);
        },
    }
}
</script>

<style scoped>

</style>