<template>
    <div>
        <h1>Set List</h1>
        <h2>Please select a set:</h2>
        <form @submit.prevent="chooseSet">
          <div class="setName">
            <div v-for="(setCode, index) in sets.setCode" v-bind:key="setCode">
            <router-link :to="{ name: 'card-list', params: { setCode: setCode}}">{{sets.setName[index]}}</router-link>
            </div>
          </div>
        </form>

    </div>
    
</template>

<script>
  export default {
    name: "set-list",
    data(){
      return {
        sets: {
          setName: [],
          setCode: []
        },
        
      }
    },
    created() {
      this.GetSetNames();
      this.GetSetCodes();
    },
    methods: {
      GetSetNames(){
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/card/getsetnamelist`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: '',
        })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error getting set names";
          }
        })
        .then((data) => {
         this.sets.setName = data.slice(1,-1).split(',');
         for (let i = 0; i < this.sets.setName.length; i++)
         {
           this.sets.setName[i] = this.sets.setName[i].slice(1,-1);
         }
          return data;
        })
        .catch((err) => console.error(err));
        },
        GetSetCodes(){
            fetch(`${process.env.VUE_APP_REMOTE_API}/api/card/getsetcodelist`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: '',
        })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error getting set codes";
          }
        })
        .then((data) => {
         this.sets.setCode = JSON.parse(data);
          return data;
        })
        .catch((err) => console.error(err));
        },
    }
    
  };
</script>

<style scoped>

.setName {
  line-height: 175%;
  font-size: 20px;
}

</style>