<template>
  <div>
    <h1>Collection Statistics!</h1>
    <div id="collection-stats">
      <table align="center" id="stats">
        <tr>
          <th id="category">Category</th>
          <th id="count">Count</th>
        </tr>
        <tr>
          <td class="statLine">Cards in all collections</td>
          <td class="count">{{CollectionStats.TotalCardsCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Normal Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalColorlessTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Fire Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalFireTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Water Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalWaterTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Grass Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalGrassTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Electric Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalElectricTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Fighting Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalFightingTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Psychic Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalPsychicTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Dark Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalDarkTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Steel Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalSteelTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Dragon Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalDragonTypesCollected}}</td>
        </tr>
        <tr>
          <td class="statLine">Fairy Pokémon in all collections</td>
          <td class="count">{{CollectionStats.TotalFairyTypesCollected}}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "stats",
  data() {
    return {
      CollectionStats: {
        TotalCardsCollected: 0,
        TotalColorlessTypesCollected: 0,
        TotalFireTypesCollected: 0,
        TotalWaterTypesCollected: 0,
        TotalGrassTypesCollected: 0,
        TotalElectricTypesCollected: 0,
        TotalFightingTypesCollected: 0,
        TotalPsychicTypesCollected: 0,
        TotalDarkTypesCollected: 0,
        TotalSteelTypesCollected: 0,
        TotalDragonTypesCollected: 0,
        TotalFairyTypesCollected: 0,
        TotalNullCardsCollected: 0
      }
    };
  },
  created() {
    this.GetTotalCards();
    this.GetTotalCardsByType("Colorless");
    this.GetTotalCardsByType("Fire");
    this.GetTotalCardsByType("Water");
    this.GetTotalCardsByType("Grass");
    this.GetTotalCardsByType("Lightning");
    this.GetTotalCardsByType("Fighting");
    this.GetTotalCardsByType("Psychic");
    this.GetTotalCardsByType("Darkness");
    this.GetTotalCardsByType("Metal");
    this.GetTotalCardsByType("Dragon");
    this.GetTotalCardsByType("Fairy");
  },
  methods: {
    GetTotalCards() {
      fetch(
        `${process.env.VUE_APP_REMOTE_API}/api/collection/getcountofcardsinallcollections`,
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(this.CollectionStats)
        }
      )
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error in GetTotalCards";
          }
        })
        .then(data => {
          this.CollectionStats.TotalCardsCollected = data;
          return data;
        })
        .catch(err => console.error(err));
    },
    GetTotalCardsByType(type) {
      let Obj = { Type: type };
      fetch(
        `${process.env.VUE_APP_REMOTE_API}/api/collection/getcountofcardsinallcollectionsbytype`,
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(Obj)
        }
      )
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error in GetTotalCardsByType";
          }
        })
        .then(data => {
          switch (type) {
            case "Colorless":
              this.CollectionStats.TotalColorlessTypesCollected = data;
              break;
            case "Fire":
              this.CollectionStats.TotalFireTypesCollected = data;
              break;
            case "Water":
              this.CollectionStats.TotalWaterTypesCollected = data;
              break;
            case "Grass":
              this.CollectionStats.TotalGrassTypesCollected = data;
              break;
            case "Lightning":
              this.CollectionStats.TotalElectricTypesCollected = data;
              break;
            case "Fighting":
              this.CollectionStats.TotalFightingTypesCollected = data;
              break;
            case "Psychic":
              this.CollectionStats.TotalPsychicTypesCollected = data;
              break;
            case "Darkness":
              this.CollectionStats.TotalDarkTypesCollected = data;
              break;
            case "Dragon":
              this.collectionStats.TotalDragonTypesCollected = data;
              break;
            case "Metal":
              this.CollectionStats.TotalSteelTypesCollected = data;
              break;
            case "Fairy":
              this.CollectionStats.TotalFairyTypesCollected = data;
              break;
            default:
              break;
          }
          return data;
        })
        .catch(err => console.error(err));
    }
  }
};
</script>

<style scoped>
#category {
  border-radius: 25px 0px 0px 0px;
}
#count {
  border-radius: 0px 25px 0px 0px;
}
#stats {
  border-radius: 25px 25px 0px 0px;
}

#stats,
th {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 80%;
  border: 1px solid black;
}

#stats td,
#stats th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stats tr:nth-child(even) {
  background-color: whitesmoke;
}
#stats tr:nth-child(odd) {
  background-color: rgb(219, 245, 255);
}

#stats tr:hover {
  background-color: #ddd;
}

#stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: midnightblue;
  color: white;
}
</style>