<template>
<div class="theheader">
    <header>
      <img id="pokemon" src="../assets/Logo.png" alt="Pokemon">
      <img id="pokemon2" src="../assets/Logo.png" alt="Pokemon">
      <span id="accountlinks">
        <router-link v-if='!this.$store.get("loggedIn")' :to="{ name: 'register' }">Register</router-link>
        <a id="logout" href="login" v-on:click="logOut" v-else>Log Out</a> 
      </span> 
      <router-link v-if='!this.$store.get("loggedIn")' :to="{ name: 'login' }">Login</router-link>

    <span id="welcome" v-if='this.$store.get("loggedIn")'>Welcome, {{ this.$store.get("currentUser") }}! Active collection: {{ this.$store.get("activeCollection") }}</span>
    
    </header>
    </div>
</template>

<script>

export default {
    name: 'the-header',
    data() {
        return {

        }
    },
    //computed: {
      //  currentUser: function () {return this.$store.get("currentUser")},
    //},
    methods: {
    logOut() {
         this.$store.clearAll();
         window.location.reload();

    },
    },
    

}
</script>

<style scoped>
header {
  background: url(../assets/allfour.png);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: center;
  background-color: #c8d2e2;
  padding: 0px;
  color: black;
  font-size: 24px;
  font-weight:bold;
  /*text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;*/
  height: 60px;
  font-family: 'Candara', sans-serif;
  
  

}
header a:link, header a:visited {
  color:white;
  background-image: url(../assets/red.png);
  padding: 1px 10px 6px 10px;  
  text-decoration: none;
  vertical-align: 15px;
  border-radius: 30px;
}

header a:hover, a:active {
  background: url(../assets/redwhite.png),lightcoral;
  color:darkslateblue;
}

#accountlinks {
padding-right: 10px;
}

#pokemon {
  height: 2em;
  background-position: left;
  padding-right: 1em;
  padding-left: .5em;
  padding-top:5px;
}

#pokemon2 {
  height: 2em;
  float: right;
  background-position: right;
  padding-right: .5em;
  padding-top:5px;
}
#pokemon4 {
  height: 2em;
  
 
  padding-right: .5em;
  padding-top:5px;
  
}

#welcome {
  color: midnightblue;
  padding-top: 1rem;
  padding-right: 1rem;
  float:right;
} 

#a {
    font-size: 10px;
    text-align: right;
    display: inline-block;
}
.theheader {
  
  grid-column: 1 / 7;
}
</style>