<template>
    <div id="user-profile-div">
        <p>User profile page is currently under construction.</p>
        <p>Currently viewing: {{current_profile}}</p>
        
    </div>
</template>

<script>
export default {
    name: 'user',
    data() {
        return {
            current_profile: this.$route.params.username
        }
    }
}
</script>

<style scoped>

</style>