<template>
  <div>
    <div v-if="collectionName">
      <h1>Collection {{this.$route.params.collectionID}} is named {{collectionName}}</h1>
      <button v-on:click="SetAsActive">Set As Active Collection</button>
      <h2>{{collectionName}} contains these cards:</h2>
      <span class="cardList" v-for="card in cardList" v-bind:key="card.cardID">
        <img class="cardImage" v-bind:src="card.imageURL" />
        <b></b>
        <span class="cardName">{{card.cardName}}</span>
      </span>

      <div id="collection-stats">
        <p>Collection statistics</p>
        <table align="center" id="stats">
          <tr>
            <th id="category">Category</th>
            <th id="count">Count</th>
          </tr>
          <tr>
            <td class="statLine">Number of cards</td>
            <td class="count">{{CollectionStats.TotalCardsCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Normal Pokémon</td>
            <td class="count">{{CollectionStats.TotalColorlessTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Fire Pokémon</td>
            <td class="count">{{CollectionStats.TotalFireTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Water Pokémon</td>
            <td class="count">{{CollectionStats.TotalWaterTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Grass Pokémon</td>
            <td class="count">{{CollectionStats.TotalGrassTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Electric Pokémon</td>
            <td class="count">{{CollectionStats.TotalElectricTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Fighting Pokémon</td>
            <td class="count">{{CollectionStats.TotalFightingTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Psychic Pokémon</td>
            <td class="count">{{CollectionStats.TotalPsychicTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Dark Pokémon</td>
            <td class="count">{{CollectionStats.TotalDarkTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Steel Pokémon</td>
            <td class="count">{{CollectionStats.TotalSteelTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Dragon Pokémon</td>
            <td class="count">{{CollectionStats.TotalDragonTypesCollected}}</td>
          </tr>
          <tr>
            <td class="statLine">Number of Fairy Pokémon</td>
            <td class="count">{{CollectionStats.TotalFairyTypesCollected}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div v-else>
      <p>Could not find that collection ID.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "view-collection",
  data() {
    return {
      collectionObject: {
        collectionID: this.$route.params.collectionID
      },
      collectionName: "",
      cardList: [],
      CollectionStats: {
        TotalCardsCollected: 0,
        TotalColorlessTypesCollected: 0,
        TotalFireTypesCollected: 0,
        TotalWaterTypesCollected: 0,
        TotalGrassTypesCollected: 0,
        TotalElectricTypesCollected: 0,
        TotalFightingTypesCollected: 0,
        TotalPsychicTypesCollected: 0,
        TotalDarkTypesCollected: 0,
        TotalSteelTypesCollected: 0,
        TotalDragonTypesCollected: 0,
        TotalFairyTypesCollected: 0,
        TotalNullCardsCollected: 0
      }
    };
  },
  created() {
    this.GetCollectionName();
    this.GetCardsInCollection();
    this.GetTotalCards();
    this.GetTotalCardsByType("Colorless");
    this.GetTotalCardsByType("Fire");
    this.GetTotalCardsByType("Water");
    this.GetTotalCardsByType("Grass");
    this.GetTotalCardsByType("Lightning");
    this.GetTotalCardsByType("Fighting");
    this.GetTotalCardsByType("Psychic");
    this.GetTotalCardsByType("Darkness");
    this.GetTotalCardsByType("Metal");
    this.GetTotalCardsByType("Dragon");
    this.GetTotalCardsByType("Fairy");
  },
  methods: {
    GetCollectionName() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/api/collection/getname`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.collectionObject)
      })
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error I guess";
          }
        })
        .then(data => {
          this.collectionName = data.slice(1, -1); //.slice removes the quotes that the backend is returning for some reason
          return data;
        })
        .catch(err => console.error(err));
    },
    GetCardsInCollection() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/api/collection/getcards`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.collectionObject)
      })
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error getting cards";
          }
        })
        .then(data => {
          this.cardList = JSON.parse(data);
          return data;
        })
        .catch(err => console.error(err));
    },
    GetTotalCards() {
      fetch(
        `${process.env.VUE_APP_REMOTE_API}/api/collection/getcountofcardsincollection`,
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(this.collectionObject)
        }
      )
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error in GetTotalCards";
          }
        })
        .then(data => {
          this.CollectionStats.TotalCardsCollected = data;
          return data;
        })
        .catch(err => console.error(err));
    },
    GetTotalCardsByType(type) {
      let Obj = { Type: type, CollectionID: this.$route.params.collectionID };
      fetch(
        `${process.env.VUE_APP_REMOTE_API}/api/collection/getcountofcardsincollectionbytype`,
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(Obj)
        }
      )
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            throw "Server error in GetTotalCardsByType";
          }
        })
        .then(data => {
          switch (type) {
            case "Colorless":
              this.CollectionStats.TotalColorlessTypesCollected = data;
              break;
            case "Fire":
              this.CollectionStats.TotalFireTypesCollected = data;
              break;
            case "Water":
              this.CollectionStats.TotalWaterTypesCollected = data;
              break;
            case "Grass":
              this.CollectionStats.TotalGrassTypesCollected = data;
              break;
            case "Lightning":
              this.CollectionStats.TotalElectricTypesCollected = data;
              break;
            case "Fighting":
              this.CollectionStats.TotalFightingTypesCollected = data;
              break;
            case "Psychic":
              this.CollectionStats.TotalPsychicTypesCollected = data;
              break;
            case "Darkness":
              this.CollectionStats.TotalDarkTypesCollected = data;
              break;
            case "Dragon":
              this.CollectionStats.TotalDragonTypesCollected = data;
              break;
            case "Metal":
              this.CollectionStats.TotalSteelTypesCollected = data;
              break;
            case "Fairy":
              this.CollectionStats.TotalFairyTypesCollected = data;
              break;
            default:
              break;
          }
          return data;
        })
        .catch(err => console.error(err));
    },
    SetAsActive() {
        this.$store.set("activeCollection", this.$route.params.collectionID);
        window.location.reload();
    }
  }
};
</script>

<style scoped>
.cardList {
  display: inline-block;
  max-width: 25%;
}

.cardImage {
  inline-size: 80%;
  margin-top: 15px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5%;
}

.cardName {
  display: block;
}
#category {
  border-radius: 25px 0px 0px 0px;
}
#count {
  border-radius: 0px 25px 0px 0px;
}
#stats {
  border-radius: 25px 25px 0px 0px;
}

#stats,
th {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 80%;
  border: 1px solid black;
}

#stats td,
#stats th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stats tr:nth-child(even) {
  background-color: whitesmoke;
}
#stats tr:nth-child(odd) {
  background-color: rgb(219, 245, 255);
}

#stats tr:hover {
  background-color: #ddd;
}

#stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: midnightblue;
  color: white;
}
</style>